/*原先top页内容（开始）*/
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    background-image: url('images/bg.jpg');
    background-position: left top;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
}

.system_logo {
    background: url(images/default_logo.png) no-repeat;
    height: 54px;
    width: 500px;

    margin-top: 7px;
    padding-left: 63px;
    padding-top: 8px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/default_logo.png', sizingMethod='crop');
    writing-mode: lr-tb;

}

/*新加CSS*/

/*头部右侧*/

.top_right {
    margin: 0px;
    padding: 0px;
    float: right;
    padding-top: 5px;
    text-align: right;
}

.current_user img {
    margin-right: 5px;
}

.quick_link {
    margin-top: 15px;
    margin-left: 11px;
    text-align: right;
}

.quick_link a {
    margin-right: 10px;
    width: 21px;
    height: 22px;
    cursor: pointer;
}

/*登录用户信息*/
.current_user {
    background: url(images/current_user_bg.jpg);
    color: #333;
    /*border:1px solid #a7d184;*/
    border: 1px solid #7FA0C3;

    padding: 4px 3px 4px 5px;
    height: 12px;
}

/*菜单*/

#menu {
    background: url(images/default_menu_bg.jpg);
    height: 30px;
    margin: 0px 3px;
    margin-top: 0px;
    *margin-top: 0px;
    _margin-top: 0px;
    margin-top: 0px \0;
    width: 100%;

    padding: 0px;
    border: 1px solid #c2c2c2;
}

/*菜单结束*/

/*头部右侧结束*/

/*任务栏*/

.taskbar {
    /*background:#d2e6af;*/
    background: #C2E0FF;

    height: auto !important;
    height: 25px;
    min-height: 25px;
    _height: 25px;
    border-top: 1px solid #b3bec6;
    width: 100%;
    min-width: 100%;
    position: relative;
}

.taskbar_tag_box {
    overflow: hidden;
    float: left;
    height: 25px;
}

.taskbar_tag {

    float: left;

}

.taskbar_tag ul {
    margin: 0px;
    margin-left: 0px;
[;
    margin-left: 0px;
] * margin-left: - 5 px;
    _margin-left: -5px;
    padding: 0px;
    list-style-type: none;
    list-style: none;

}

.taskbar_tag li {
    float: left;
    font-size: 12px;
    background: url(images/renwu_bg.jpg);
    height: 25px;
    border-right: 1px solid #b3bec6;
    width: 115px;
}

.taskbar_tag li div {
    float: left;
    width: 75px;
    margin-left: 22px;
    *margin-left: 3px;
    _margin-left: 3px;
    margin-top: -12px;
    *margin-top: 0px;
    _margin-top: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskbar_tag li a {
    display: block;
    text-decoration: none;
    color: #333;
    background: none;
    padding: 8px 24px 3px 5px;
    *padding: 8px 24px 5px 5px;
    _padding: 8px 0px 3px 5px;
    padding: 8px 24px 5px 5px \0;

}

.taskbar_tag li a:viaited {
    color: #333;
}

.taskbar_tag li a:hover {
    background: url(images/renwu_current_bg.jpg);
    color: #333;
    padding: 8px 24px 3px 5px;
    *padding: 8px 24px 5px 5px;
    _padding: 8px 0px 3px 5px;
    padding: 8px 24px 5px 5px \0;
}

.taskbar_closetag {
    float: left;
    border: 0;
    cursor: pointer;
    margin-left: 100px;
    margin-top: -18px;

}

.taskbar_tag_img {
    float: left;
    margin-right: 3px;
    margin-top: -2px;
}

.taskbar_tag li.current {
    background: url(images/renwu_current_bg.jpg);
    float: left;
}

.taskbar_quick {
    float: right;
    height: 100%;
    margin: 0px;
}

.taskbar_quick a {
    display: block;
    height: 25px;
    padding: 0px 5px;
    margin-right: 0px;
    float: left;
    width: 18px;

}

.taskbar_quick a:hover {
    background: url(images/renwu_bg.jpg);
    margin-right: 0px;
}

#showQuick {
    border-left: 1px solid #b3bec6;
    border-right: 1px solid #b3bec6;
    padding: 0px 2px;
    width: 10px;
}

.taskbox {
    position: absolute;
    z-index: 5000;
    /*bottom: 24px;*/
    top:25px;
    display: none;

    width: 135px;
    overflow-y: auto;
    left: auto;
    /*right: 5px;*/
    right:0;
}

.taskbox ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    border-top: 1px solid #b3bec6;
    background: #f7f7f7;
}

.taskbox ul li {
    text-align: left;
    position: relative;
    font-size: 12px;
    font-weight: normal;
    display: block;
    cursor: pointer;
    border: 1px solid #b3bec6;
    border-top: none;
    height: 27px;
    vertical-align: bottom;
    background: #f7f7f7;
}

.taskbox ul li span {
    float: left;
    cursor: pointer;
    width: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskbox ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    background: none;
    padding: 6px 0px 5px 5px;
    height: 16px;
}

.taskbox ul li a:viaited {
    color: #333;
}

.taskbox ul li a:hover {
    background: #ccc;
    color: #333;
    padding: 6px 0px 5px 5px;
    height: 16px;
}

.taskbox_closetag {
    float: left;
    border: 0;
    cursor: pointer;
    margin-left: 93px;
    margin-top: -18px;

}

/*任务栏结束*/

.default_main_right {
    margin: 0px;
    padding: 0px;
    float: left;

    /*width:expression((body.clientWidth-350)/1);*/
}

.content {
    overflow-y: hidden;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;

}

.contentPage {
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.contentPage iframe {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.bottomBar {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    width: 100%;
    min-width: 100%;
}

/*原先top页内容（结束）*/

/*原先leftmenu.css页内容（开始）*/
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
}

* {
    font-size: 12px;
}

/*#outLookBarDiv
{
}
.smallFont
{
    background-image: url(images/default_arrowdown_ico.gif);
    background-position: 3px 6px;
    background-repeat: no-repeat;
    display: block;
    text-indent: 20px;
}
#mnuList
{
    border: 0px;
    border-collapse: collapse;
    background: #f7f7f7;
}
#outLookBarShow
{
    border-collapse: collapse;
    border-left: 1px solid #adb9c2;
    border-bottom: 1px solid #adb9c2;
}
.left_menu
{
   
    padding: 0px;
    margin: 0px;
}*/
.left_menu_title {
    background: url(images/default_arrowdown_ico.gif) 5px 0px no-repeat;
    text-indent: 20px;
    margin-top: 7px;
    *margin-top: 7px;
    _margin-top: 7px;
    height: 18px;
}

.left_menu_div {
    background: url(images/default_tit_bg.jpg);
    color: #666;
    font-weight: bold;
    height: 29px;
}

.menu_content ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu_content li a:link, .menu_content li a:visited {
    display: block;
    text-decoration: none;
    line-height: 27px;
    color: #666;
    border-bottom: 1px solid #adb9c2;
    padding-top: 2px;
    _height: 25px;
}

.menu_content li a:hover {
    display: block;
    color: #333;
    text-decoration: none;
    /*background: #d2e6af;*/
    background: #c6dffe;
}

.menu_content li a img {
    border: none;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.menu_content li ul li a:link, .menu_content li ul li a:visited {
    display: block;
    text-align: left;
    text-decoration: none;
    line-height: 27px;
    color: #666;
    border-bottom: 1px solid #adb9c2;
    padding-top: 2px;
    padding-left: 15px;
    _height: 25px;
}

.menu_content li ul li a:hover {
    color: #333;
    display: block;
    text-decoration: none;
    padding-left: 15px;
}

/*原先leftmenu.css页内容（结束）*/

/*框架页*/

#default_top {
    margin: 0px;
    padding: 0px;
}

/*设置菜单下面的绿色条*/
.cleargreen {

    /*background:#d5e7b4;*/
    background: #C6DEF6;

    height: 5px;
    max-height: 5px;
    border-left: 1px solid #b3bec6;
    border-right: 1px solid #b3bec6;

}

/*设置菜单下面的绿色条结束*/

.default_main /*正文总体*/
{
    margin: 0px 3px;
    padding: 0px 0px;
    text-align: left;
    border: 1px solid #adb9c2;
    /*background:#d2e6af;
    */
}

.default_left /*正文总体左侧*/
{
    width: 165px;
    max-width: 165px;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    vertical-align: top;

}

.default_left_hide /*正文总体收回条*/
{
    width: 5px;
    float: left;
    padding: 0px;
    margin: 0px;
    background: #d2e6af;
    cursor: pointer;
}

/*我的当前位置*/
.map {
    background: url(images/default_tit_bg.jpg);
    height: 18px;
    border-bottom: 1px solid #b3bec6;
    padding-top: 7px;
    color: #666;
    padding-left: 10px;
    padding-bottom: 3px;
    overflow-y: hidden;
    width: 99%;

}

.map .map_icon {
    margin-top: 2px;
    background: url(images/map_icon.png);
    height: 11px;
    width: 12px;
    display: block;
    float: left;
}

/*我的当前位置结束*/

#hide_left {
    float: left;
    border: 1px solid #c2c2c2;
    margin: 0px;
    border-top: 0px;
    border-bottom: 0px;
    /*background:#d2e6af; */
    background: #C6DEF6;

    width: 5px;
    *width: 5px;
    _width: 5px;
    height: 100%;
    text-align: center;
    min-height: 100%;

    vertical-align: middle;

}

#show_left {
    float: left;
    border: 1px solid #c2c2c2;
    margin: 0px;
    background: #C6DEF6;
    width: 5px;
    *width: 5px;
    _width: 5px;
    height: 100%;
    min-height: 100%;
    text-align: center;

    vertical-align: middle;
}

/*FOR IE*/
.fixieq {
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/*框架页结束*/

.loading {
    position: absolute;
    z-index: 100;
    width: 120px;
    height: 62px;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
}

.loading img {
    margin: 0px auto;
    padding: 0px;
    border: 1px solid #fff;
    padding: 2px;
    background: #eee;
}

#menu2 {
    left: 0px;
    width: 9999px;
    position: absolute;
    z-index: 1;
}

.scroll_left {
    width: 10px;
    height: 11px;
    display: block;
    background: url(../images/scroll_blue.gif) no-repeat 0px 0px;
    position: absolute;
    top: 11px;
    left: 3px;
}

.scroll_right {
    width: 10px;
    height: 11px;
    display: block;
    background: url(../images/scroll_blue.gif) no-repeat 0px -11px;
    position: absolute;
    top: 11px;
    right: 6px;
}
