#default_top {
    background: #3d95d5;
}
.system_logo {
    background: url(../images/logo_main.png) no-repeat !important;
    background-size: 380px !important;
    width: 380px !important;
    height: 65px !important;
    margin: 10px 0 0 14px !important;
}
.top_right {
    line-height:60px;
    color: #fff;
}
.top_right a {
    width:auto;
    height:auto;
    display: inline-block;
    margin-right:8px;
    cursor: pointer;
}
#menu {
    margin:0 !important;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
    font-weight:100 !important;
    padding:9px 10px 7px 10px !important;
}
ul.MenuBarHorizontal a {
    padding:9px 10px 7px 10px !important;
}
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus {
    font-weight:100 !important;
    padding:9px 10px 7px 10px !important;
}