
#VC_Entity_WBSListToolbar_Module a.l-btn span.l-btn-left,
#VC_Entity_WBSListToolbar_Module a.l-btn span.l-btn-left {
    background-image: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#VC_Entity_WBSListToolbar_Module a.l-btn {
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ddd', GradientType=0);
    border-color: #ddd #ddd #fff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    padding: 0;
}

#VC_Entity_WBSListToolbar_Module a.l-btn span.l-btn-left span.l-btn-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 30px !important;
}

#VC_Entity_WBSListToolbar_Module {
    position: relative;
}

.colpick_new_color {
    width: 130px !important;
}

.colpick {
    z-index: 99999999;
}

#VC_Entity_WBSListToolbar_Module {
    border-radius: 15px;
    overflow: inherit !important;
}

.colpick_color {
    background-color: rgb(255, 0, 179);
}

.colpick_new_color {
    width: 130px;
    background-color: rgb(50, 137, 199);
}

/*计划未开工*/
#Btn_16942 {
    /*background: -moz-linear-gradient(top, #ff95b8 0%, #f15186 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff95b8), color-stop(100%, #f15186));*/
    /*background: -webkit-linear-gradient(top, #ff95b8 0%, #f15186 100%);*/
    /*background: -o-linear-gradient(top, #ff95b8 0%, #f15186 100%);*/
    /*background: -ms-linear-gradient(top, #ff95b8 0%, #f15186 100%);*/
    /*background: linear-gradient(to bottom, #ff95b8 0%, #f15186 100%);*/
    background: #f99b76;
}
#Btn_16942.btn_active {
    color: #eee !important;
    background: #f38155;
}

/*计划已开工*/
#Btn_17041 {
    /*background: -moz-linear-gradient(top, #00aff2 0%, #007dc0 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aff2), color-stop(100%, #007dc0));*/
    /*background: -webkit-linear-gradient(top, #00aff2 0%, #007dc0 100%);*/
    /*background: -o-linear-gradient(top, #00aff2 0%, #007dc0 100%);*/
    /*background: -ms-linear-gradient(top, #00aff2 0%, #007dc0 100%);*/
    /*background: linear-gradient(to bottom, #00aff2 0%, #007dc0 100%);*/
    background: #58e4e4 ;
}

#Btn_17041.btn_active {
    color: #eee !important;
    background: #17e2e2;
}

/*实际未开工*/
#Btn_17042 {
    /*background: -moz-linear-gradient(top, #f38a8a 0%, #f72929 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f38a8a), color-stop(100%, #f72929));*/
    /*background: -webkit-linear-gradient(top, #f38a8a 0%, #f72929 100%);*/
    /*background: -o-linear-gradient(top, #f38a8a 0%, #f72929 100%);*/
    /*background: -ms-linear-gradient(top, #f38a8a 0%, #f72929 100%);*/
    /*background: linear-gradient(to bottom, #f38a8a 0%, #f72929 100%);*/
    background: #f55f77;
}

#Btn_17042.btn_active {
    color: #eee !important;
    background: #f13856;
}

/*实际已开工*/
#Btn_17043 {
    /*background: -moz-linear-gradient(top, #8cecc3 0%, #1aef94 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cecc3), color-stop(100%, #1aef94));*/
    /*background: -webkit-linear-gradient(top, #8cecc3 0%, #1aef94 100%);*/
    /*background: -o-linear-gradient(top, #8cecc3 0%, #1aef94 100%);*/
    /*background: -ms-linear-gradient(top, #8cecc3 0%, #1aef94 100%);*/
    /*background: linear-gradient(to bottom, #8cecc3 0%, #1aef94 100%);*/
    background: #4defb8;
}

#Btn_17043.btn_active {
    color: #eee !important;
    background: #2acc95;
}

/*进度滞后*/
#Btn_17044 {
    /*background: -moz-linear-gradient(top, #495c6f 0%, #183a5d 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #495c6f), color-stop(100%, #183a5d));*/
    /*background: -webkit-linear-gradient(top, #495c6f 0%, #183a5d 100%);*/
    /*background: -o-linear-gradient(top, #495c6f 0%, #183a5d 100%);*/
    /*background: -ms-linear-gradient(top, #495c6f 0%, #183a5d 100%);*/
    /*background: linear-gradient(to bottom, #495c6f 0%, #183a5d 100%);*/
    background: #e4b781;
}

#Btn_17044.btn_active {
    color: #eee !important;
    background: #d49243;
}

#color_choose {
    background: url(setting.png) no-repeat;
    width: 32px;
    height: 32px !important;
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.color_chooseBox {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 999999;
    width: auto;
    height: auto;
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0 12px;
    display: none;
}

.color-item {
    margin: 15px 0;
}

.color_itemBtn {
    width: 110px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px !important;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

#color_noBegin {
    background: -moz-linear-gradient(top, #f99b76 0%, #f99b76 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f99b76), color-stop(100%, #f99b76));
    background: -webkit-linear-gradient(top, #f99b76 0%, #f99b76 100%);
    background: -o-linear-gradient(top, #f99b76 0%, #f99b76 100%);
    background: -ms-linear-gradient(top, #f99b76 0%, #f99b76 100%);
    background: linear-gradient(to bottom, #f99b76 0%, #f99b76 100%);
}

#color_Begin {
    background: -moz-linear-gradient(top, #58e4e4 0%, #58e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58e4e4), color-stop(100%, #58e4e4));
    background: -webkit-linear-gradient(top, #58e4e4 0%, #58e4e4 100%);
    background: -o-linear-gradient(top, #58e4e4 0%, #58e4e4 100%);
    background: -ms-linear-gradient(top, #58e4e4 0%, #58e4e4 100%);
    background: linear-gradient(to bottom, #58e4e4 0%, #58e4e4 100%);
}

#color_rnoBegin {
    background: -moz-linear-gradient(top, #f55f77 0%, #f55f77 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f55f77), color-stop(100%, #f55f77));
    background: -webkit-linear-gradient(top, #f55f77 0%, #f55f77 100%);
    background: -o-linear-gradient(top, #f55f77 0%, #f55f77 100%);
    background: -ms-linear-gradient(top, #f55f77 0%, #f55f77 100%);
    background: linear-gradient(to bottom, #f55f77 0%, #f55f77 100%);
}

#color_rBegin {
    background: -moz-linear-gradient(top, #4defb8 0%, #4defb8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4defb8), color-stop(100%, #4defb8));
    background: -webkit-linear-gradient(top, #4defb8 0%, #4defb8 100%);
    background: -o-linear-gradient(top, #4defb8 0%, #4defb8 100%);
    background: -ms-linear-gradient(top, #4defb8 0%, #4defb8 100%);
    background: linear-gradient(to bottom, #4defb8 0%, #4defb8 100%);
}

#color_Late {
    background: -moz-linear-gradient(top, #e4b781 0%, #e4b781 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4b781), color-stop(100%, #e4b781));
    background: -webkit-linear-gradient(top, #e4b781 0%, #e4b781 100%);
    background: -o-linear-gradient(top, #e4b781 0%, #e4b781 100%);
    background: -ms-linear-gradient(top, #e4b781 0%, #e4b781 100%);
    background: linear-gradient(to bottom, #e4b781 0%, #e4b781 100%);
}

.color_Change {
    padding: 5px 6px;
    color: #fff;
    background-color: #9e9a9a;
    border-radius: 8px;
    font-size: 12px !important;
    margin-left: 12px;
    cursor: pointer;
}

.color_Change:hover {
    color: #fff;
    background-color: #848181;
}

.color_submit {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.color_submit p {
    background: #9e9a9a;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 4px 7px;
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    cursor: pointer;
}

.color_submit p.color_add {
    background-color: #0fa2ea;
}

.color_submit p:hover {
    background-color: #848181;
}

.color_submit p.color_add:hover {
    background: #53bef3;
}

.colpick_current_color {
    display: none;
}