/*
 *WebIM 样式文件
 *Date:2013/05/28
 */
ul,li,span{
	margin:0;
	padding:0;
	font-family:宋体;
}

#onlineList{
	width:180px;
	border:1px #bebebe solid;
	display:none;
	overflow:hidden;
	position:absolute;
	right:0px;
	top:25px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	z-index: 999;
}

#onlineListHead{
	width:100%;
	height:29px;
	border-bottom:1px #bebebe solid;
	font-size:12px;
	background-color:#E0E0E0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

#onlineListHead div{
	float:left;
	width:89px;
	height:100%;
	cursor:pointer;
}

#onlineUserTab{
	
}

#onlineUserTab span{
	margin-left:2px;
	height:24px;
	background:url(../Images/WebIM/chat_title_icon.gif) left center no-repeat;
	line-height:24px;
	padding-left:20px;
}

#unreadMsgTab{
	border-right:1px #bebebe solid;
}

#unreadMsgTab span{
	margin-left:2px;
	height:24px;
	background:url(../Images/WebIM/weidu_icon.gif) left center no-repeat;
	line-height:24px;
	padding-left:20px;
}

.focused-tab{
	background:url(../Images/WebIM/weidu_bg.gif) repeat-x;
}

.unfocused-tab{
	background:url(../Images/WebIM/chat_title_bg.gif) repeat-x;
}

#onlineListBody{
	width:100%;
	height:300px;
	background-color:#f3f3f3;
	border-bottom:1px #bebebe solid;
}

#onlineUserContent,#unreadMsgContent{
	width:100%;
	height:300px;
	overflow-x:hidden;
	overflow-y:auto;
}

#onlineUserContent{
	display:none;
}

#unreadMsgContent ul,#onlineUserContent ul{
	list-style:none; 
	position:relative;
	overflow:hidden;
}

#unreadMsgContent li.item,#onlineUserContent  li.item{
	float:left;
	height:37px;
	padding:2px;
	margin:2px 4px;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:94%;
}

#unreadMsgContent ul li.item:hover,#onlineUserContent ul li.item:hover{
	background-color:#e5e5e5;
}

#onlineUserContent i.user-icon{
	background:url(../Images/WebIM/chat_boy.gif) center no-repeat;
	display:block;
	width:35px;
	height:35px;
	float:left;
}

#onlineUserContent span.user-name{
	margin-left:6px;
	height:35px;
	max-width:100px;
	line-height:35px;
	display:block;
	float:left;
}

#unreadMsgContent i.message-icon{
	background:url(../Images/WebIM/mail_24x18.png) center no-repeat;
	display:block;
	width:24px;
	height:35px;
	float:left;
	overflow:hidden;
}

#unreadMsgContent span.message-title{
	margin-left:6px;
	height:35px;
	max-width:100px;
	line-height:35px;
	display:block;
	float:left;
	overflow:hidden;
}

#onlineListFoot{
	width:100%;
	height:32px;
	background:url(../Images/WebIM/bottom_Bg.gif);
}

.span-icon{
	display:inline-block;
}

#footBarSelect{
	width:120px;
	height:100%;
	border-right:solid 1px #bebebe;
}

#footBarFlex{
	width:58px;
	height:100%;
	cursor:pointer;
}

.unflexed{
	background:url(../Images/WebIM/chat_flex_open.gif) center no-repeat;
}
.flexed{
	background:url(../Images/WebIM/chat_flex_open.gif) center no-repeat;
}

.foot-item{
	float:left;
}
.clear{
	clear:both;
	height:0;
}
#selectUser{
	height:20px;
	background:url(../Images/WebIM/chat_select_icon.gif) left center no-repeat;
	line-height:20px;
	padding-left:18px;
	margin: 5px 0 0 8px;
	cursor:pointer;
}